body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
}

.navbar {
  height: 100px;
  padding: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 40rem;
  align-items: center;
}

.navbar > .logo {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.navbar > .search-container {
  display: flex;
  align-items: center;
  width: 15%;
  height: 25px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar > .search-container > .search {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.navbar > .search-container > .search-button {
  border: none;
  border-radius: 30px;
}

.navbar > .search-container > .search-button > img:hover {
  cursor: pointer;
}

.main {
  height: 100%;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* INFO */
.main > .tweet-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  background-color: white;
}

.main > .tweet-info > .tweet-hot {
  width: 90%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

/* LIST */
.main > .tweet-list {
  height: 100vh;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main > .tweet-list > .categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: white;
  gap: 1rem;
}

.main > .tweet-list > .categories > .category {
  font-size: 1rem;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.main > .tweet-list > .categories > #none {
  background-color: white;
  color: black;
}

.main > .tweet-list > .categories > #none:hover {
  background-color: black;
  color: white;
}

.main > .tweet-list > .categories > .category:hover {
  background-color: white;
  color: black;
}

.main > .tweet-list > .list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 0.2rem;
}

.main > .tweet-list > .list > .tweet {
  display: flex;
  padding: 0.5rem;
  background-color: rgb(241, 241, 241);
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
  margin: 10px 0;
}

/* CHARTS */
.main > .tweet-charts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.main > .tweet-charts > .chart {
  width: 75%;
}

/*
==========================================================================================================================
                                                    Fonts (DO NOT REMOVE)
==========================================================================================================================
*/
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff)
      format("woff");
  font-weight: 300;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff)
      format("woff");
  font-weight: 400;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff)
      format("woff");
  font-weight: 500;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff)
      format("woff");
  font-weight: 700;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff)
      format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2)
      format("woff2"),
    url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff)
      format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}

/*
==========================================================================================================================
                                                    General
==========================================================================================================================
*/
.tweets {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  color: #14171a;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
}

.tweet-wrapper {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  overflow: hidden;

  display: flex;
}

.tweet-wrapper .tweet-header {
  margin-bottom: 10px;
}

.tweet-user {
  display: flex;
  align-items: left;
}

.tweet-user-name {
  font-weight: bold;
  margin: 0px 10px 0px 0px;
}

.tweet-user-screen-name {
  color: #777;
  margin: 0px 10px 0px 0px;

  /* Remove underline */
  text-decoration: none;
}

.tweet-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet-text {
  margin: 0px;
}
.tweet-text a {
  color: #1da1f2;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ECAF14;
  border-radius: 6px;
}

